@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

.userbarIcon:hover div {
  background-color: #a9a9a9 !important;
}

.userbarIcon:hover span {
  color: #a9a9a9;
}

.editor-container {
  border: 1px solid #e4e4e4;
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: 16px;
}
.editor-toolbar {
  display: flex;
  flex-direction: column-reverse;
}
.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: none !important;
}
.quill {
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  background-color: white;
}

.ql-container {
  font-size: 20px !important;
  height: 123px !important;
}

.ql-editor.ql-blank::before {
  font-style: normal !important;
}
