@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  width: 100%;
}

.userbarIcon:hover div {
  background-color: #a9a9a9 !important;
}

.userbarIcon:hover span {
  color: #a9a9a9 !important;
}

.editor-container {
  border: 1px solid #e4e4e4;
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: 16px;
}
.editor-toolbar {
  display: flex;
  flex-direction: column-reverse;
}
.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: none !important;
}
.quill {
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  background-color: white;
}
.quill.editor-toolbar.chat-box {
  margin-bottom: -40px;
}

.ql-container {
  font-size: 20px !important;
  height: 123px !important;
}

.btn-coverImage .ql-container {
  display: none;
}

.btn-coverImage .ql-formats {
  background: none !important;
}

.btn-coverImage .ql-toolbar {
  padding: 0 !important;
  background: none !important;
}
.btn-coverImage .ql-toolbar span {
  margin: 0 !important;
}

.btn-coverImage .ql-image {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  background: none !important;
}
.btn-coverImage .ql-image::before {
  /* content: url("/Users/apple/Desktop/westride/final project/final-project-react/src/assets/svg/camera.svg") !important; */
  content: url("src/assets/svg/camera.svg");
  width: 80px;
  height: 70px;
}
/* .btn-coverImage .ql-image::after {
  content: "" !important;
} */
.btn-coverImage .ql-image svg {
  display: none !important;
}
.btn-coverImage input[type="file"] {
  display: none !important;
}
.btn-coverImage.quill {
  background: none !important;
  border: none !important;
}
.post-box .ql-editor {
  text-wrap: wrap !important;
  max-width: 640px;
  width: 100%;
}
.chat-box .ql-editor {
  text-wrap: wrap !important;
  max-width: 700px;
  width: 100%;
}
.ql-editor.ql-blank::before {
  font-style: normal !important;
}

.bio-text .ql-container {
  height: 250px !important;
}

.bio-text .ql-editor {
  text-wrap: wrap !important;
  max-width: 640px;
  width: 100%;
}

.Dropdown-root {
}
.Dropdown-control {
  border: none !important;
  padding: 0 !important;
}
.Dropdown-control:hover {
  cursor: pointer;
  box-shadow: none !important;
}
.Dropdown-placeholder {
  display: none;
}
.Dropdown-menu {
  left: 0;
  min-width: 100px;
  transform: translate(-82%, 5px);
}

.select-profile:hover {
  -webkit-box-shadow: inset 0px 0px 0px 2px #000;
  -moz-box-shadow: inset 0px 0px 0px 2px #000;
  box-shadow: inset 0px 0px 0px 2px #000;
  clip-path: inset(3px 3px 0px 3px);
}

@media screen and (min-width: 1800px) {
  .post-box .ql-editor {
    max-width: 880px !important;
  }
  .chat-box .ql-editor {
    max-width: 880px !important;
  }
  .bio-text .ql-editor {
    max-width: 880px !important;
  }
}
